# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Visual Studio
.vs/
bin/
obj/

# Node
node_modules/
npm-debug.log*

# React
build/
dist/

# ASP.NET
appsettings.Development.json

# Docker
*.log

# Kubernetes
*.kubeconfig

# Environment
.env
.env.*

# Terraform
.terraform/

# Misc
coverage/

*.db

*.suo

*.user

.idea/
